<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zking.ssm.mapper.AdministratorMapper" >
  <resultMap id="BaseResultMap" type="com.zking.ssm.model.Administrator" >
  <constructor >
    <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
    <arg column="name" jdbcType="VARCHAR" javaType="java.lang.String" />
    <arg column="phone" jdbcType="VARCHAR" javaType="java.lang.String" />
    <arg column="password" jdbcType="VARCHAR" javaType="java.lang.String" />
    <arg column="permission" jdbcType="INTEGER" javaType="java.lang.Integer" />
  </constructor>
</resultMap>

  <sql id="Base_Column_List" >
    id, name, phone, password, permission
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from administrator
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultType="com.zking.ssm.model.Administrator">
    select * from administrator
  </select>
  <select id="Login" resultType="com.zking.ssm.model.Administrator">
    select * from administrator where name=#{name} and password=#{password}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from administrator
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zking.ssm.model.Administrator" >
    insert into administrator ( name, phone,password)
    values ( #{name,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR},
      #{password,jdbcType=VARCHAR})
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.zking.ssm.model.Administrator" >
    update administrator
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="permission != null" >
        permission = #{permission,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>