<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zking.ssm.mapper.CommodityMapper" >
  <resultMap id="BaseResultMap" type="com.zking.ssm.model.Commodity" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="type_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="price" jdbcType="REAL" javaType="java.lang.Float" />
      <arg column="stock" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="image" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="introduction" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="sales_volume" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="update_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="status" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="added_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.zking.ssm.model.Commodity" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="type_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="price" jdbcType="REAL" javaType="java.lang.Float" />
      <arg column="stock" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="image" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="introduction" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="sales_volume" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="update_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="status" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="added_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="detailed_introduction" jdbcType="LONGVARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, type_id, price, stock, image, introduction, sales_volume, create_time, 
    update_time, status, added_time
  </sql>
  <sql id="Blob_Column_List" >
    detailed_introduction
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from commodity
    where id = #{id,jdbcType=INTEGER}
  </select>
    <select id="listListMap" resultType="java.util.Map">
      select * from commodity
    </select>
  <select id="listLike" resultType="com.zking.ssm.model.Commodity">
    select * from commodity
    <if test="null !=name and ''!=name">
      where book_name like concat('%',#{name},'%')
    </if>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from commodity
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zking.ssm.model.Commodity" >
    insert into commodity ( name, type_id,
      price, stock, image, introduction, 
      sales_volume, create_time, update_time, 
      status, added_time, detailed_introduction
      )
    values ( #{name,jdbcType=VARCHAR}, #{typeId,jdbcType=INTEGER},
      #{price,jdbcType=REAL}, #{stock,jdbcType=INTEGER}, #{image,jdbcType=VARCHAR}, #{introduction,jdbcType=VARCHAR}, 
      #{salesVolume,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{status,jdbcType=VARCHAR}, #{addedTime,jdbcType=TIMESTAMP}, #{detailedIntroduction,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zking.ssm.model.Commodity" >
    insert into commodity
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="typeId != null" >
        type_id,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="stock != null" >
        stock,
      </if>
      <if test="image != null" >
        image,
      </if>
      <if test="introduction != null" >
        introduction,
      </if>
      <if test="salesVolume != null" >
        sales_volume,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="addedTime != null" >
        added_time,
      </if>
      <if test="detailedIntroduction != null" >
        detailed_introduction,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="typeId != null" >
        #{typeId,jdbcType=INTEGER},
      </if>
      <if test="price != null" >
        #{price,jdbcType=REAL},
      </if>
      <if test="stock != null" >
        #{stock,jdbcType=INTEGER},
      </if>
      <if test="image != null" >
        #{image,jdbcType=VARCHAR},
      </if>
      <if test="introduction != null" >
        #{introduction,jdbcType=VARCHAR},
      </if>
      <if test="salesVolume != null" >
        #{salesVolume,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="addedTime != null" >
        #{addedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="detailedIntroduction != null" >
        #{detailedIntroduction,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zking.ssm.model.Commodity" >
    update commodity
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="typeId != null" >
        type_id = #{typeId,jdbcType=INTEGER},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=REAL},
      </if>
      <if test="stock != null" >
        stock = #{stock,jdbcType=INTEGER},
      </if>
      <if test="image != null" >
        image = #{image,jdbcType=VARCHAR},
      </if>
      <if test="introduction != null" >
        introduction = #{introduction,jdbcType=VARCHAR},
      </if>
      <if test="salesVolume != null" >
        sales_volume = #{salesVolume,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="addedTime != null" >
        added_time = #{addedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="detailedIntroduction != null" >
        detailed_introduction = #{detailedIntroduction,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.zking.ssm.model.Commodity" >
    update commodity
    set name = #{name,jdbcType=VARCHAR},
      type_id = #{typeId,jdbcType=INTEGER},
      price = #{price,jdbcType=REAL},
      stock = #{stock,jdbcType=INTEGER},
      image = #{image,jdbcType=VARCHAR},
      introduction = #{introduction,jdbcType=VARCHAR},
      sales_volume = #{salesVolume,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=VARCHAR},
      added_time = #{addedTime,jdbcType=TIMESTAMP},
      detailed_introduction = #{detailedIntroduction,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zking.ssm.model.Commodity" >
    update commodity
    set name = #{name,jdbcType=VARCHAR},
      type_id = #{typeId,jdbcType=INTEGER},
      price = #{price,jdbcType=REAL},
      stock = #{stock,jdbcType=INTEGER},
      image = #{image,jdbcType=VARCHAR},
      introduction = #{introduction,jdbcType=VARCHAR},
      sales_volume = #{salesVolume,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=VARCHAR},
      added_time = #{addedTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>